.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
  }
  
  .btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #9a2c67;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #b9216f;
  }