.header-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f9a9e9;
  width: 100%;
  box-sizing: border-box;
  position: fixed;  /* Fixes the header at the top */
  top: 0;
  left: 0;
  z-index: 1000;  /* Keeps header above other elements */
}

/* Logo styling */
.header-logo {
  cursor: pointer;
}

.logo-img {
  height: auto;
  width: 100px;
}
.header-cart {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
  color: #333;
}

.cart-icon {
  font-size: 24px;
}

.cart-count {
  background-color: #9a2c67;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 14px;
}
